<launch>
   <node name="xf_tts" pkg="xf_voice" type="xf_tts" output="screen"/>
   <node name="xf_asr" pkg="xf_voice" type="xf_asr" output="screen"/>
   <node name="wakeup" pkg="xf_voice" type="wakeup" output="screen"/>
   <node name="explain" pkg="xf_voice" type="explain.py" output="screen"/>
</launch>




